/* roboto-latin-wght-normal */
@font-face {
    font-family: 'Roboto';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    position: relative;
    min-height: 100vh;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

.bg-image {
    background-image: url("https://wallpaperbat.com/img/799498-shopping-wallpaper.jpg");
    background-image: url(./media/bg-image.jpg);
    min-height: 90.5vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    opacity: 0.9;
    box-shadow: 0 0 19px gray;
    position: relative;
}

.btn>a {
    text-decoration: none;
    color: white;
}

.btn {
    transition: 0.9s;
}

.btn:hover {
    transform: translateY(2px);
}

.header #menu {
    display: none;
}

.header label {
    display: none;
}

.header .menu-container {
    display: none;
    position: absolute;
    top: 100%;
}

.header #menu:checked~.menu-container {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.toast-container {
    position: fixed;
    top: 30px;
    right: 10px;
    margin: 0 auto;
    z-index: 999;
}

.toast-body {
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 7px;
}

.login-header {
    padding: 15px;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    padding: 10px;
}

.item-container>div {
    border: 3px solid olivedrab;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.item-container>div:hover {
    transition: 0s;
    box-shadow: 0 0 4px;
    transform: translateY(-4px);
}

.item-container img {
    height: 200px;
    width: 200px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.item-container img:hover {
    transform: scale(0.85);
}

.login-item {
    opacity: 0;
    transition: 0.4s;
    transform: translateY(30px) scale(0.8);
}

.reveal {
    opacity: 1;
    transform: translateY(0) scale(1);
}

#cart-container>div {
    align-content: center;
    text-align: center;
}

@media screen and (max-width:800px) {
    .header label {
        display: block;
    }

    .header>.header-items * {
        display: none;
    }

    .login-header {
        padding-left: 10px;
        padding-top: 10px;
    }

    .login-header>.item {
        flex-direction: column;
        gap: 3px !important;
    }

    .toast-container {
        position: fixed;
        top: 40px;
        right: 0;
        margin: 0 auto;
        z-index: 999;
    }

    .toast-body {
        font-size: 1rem;
        padding: 20px;
        border-radius: 7px;
    }
}